#App {
    height: 100vh;
    text-align: left;
}

.tab-layout {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.left-menu {
    background-color: var(--2nd-bg-color);
    flex: none;
    width: 100px;
    height: 100%;
}

.left-menu button {
    background-color: var(--2nd-bg-color);
    color: var(--1st-text-color);
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid var(--1st-bg-color);
    cursor: pointer;
}

.left-menu button:hover, .left-menu button[data-state="active"]{
    background-color: var(--1st-bg-color);
}

.tab-content {
    flex: auto;
    height: 100%;
    overflow: auto;
}

.scan-page-layout {
    display: flex;
    flex-direction: row;
    height: 100%;
}


.scan-page-layout > div:nth-child(1) {
    flex: none;
    width: 360px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
    height: 100vh;
}

.scan-page-layout > div:nth-child(2) {
    flex: auto;
    height: 100%;
    overflow: auto;
}

.scan-page-layout div[role="tablist"] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--1st-bg-color);
}

.scan-page-layout div[role="tablist"] button {
    background-color: var(--2nd-bg-color);
    color: var(--1st-text-color);
    flex: auto;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.scan-page-layout div[role="tablist"] button:hover, .scan-page-layout div[role="tablist"] button[data-state="active"] {
    background-color: var(--1st-bg-color);
}

.scan-page-layout h3 {
    text-align: center;
}

.scan-page-table {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2px;
    max-height: calc(100vh - 100px);
    overflow: auto;
}

.scan-page-table div {
    padding: 8px;
    font-size: 14px;
}

.scan-page-table div:nth-child(odd) {
    color: var(--2nd-text-color);
}


.scan-page-table div:nth-child(1), .scan-page-table div:nth-child(2), .scan-page-table span {
    text-align: center;
    font-weight: bold;
    color: var(--1st-text-color);
    font-size: 14px;
}
